/*============================================================
======================= BANNER 1 SECTION =====================
=============================================================*/
.slider-navi {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	z-index: 3;
}
.slider-navi a {
	display: block;
	height: 6px;
	width: 20px;
	margin: 20px 0;
	text-indent: -9999px;
	box-shadow: none;
	border: none;
	background: rgba(0,0,0,0.2);
}

.slider-navi a.active {
	background: rgba(255,255,255,1);
}

.main-banner-10 {
    position: relative;
    /* height: calc(100vh - 86px); */
    height: 60vh;
    font-size: 100%;
}


.flex-container {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;

    -webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap; 

	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	-o-justify-content: flex-start;
	justify-content: flex-start;

    height: 60vh;
	width: 100%;
	z-index: 1;
}

.flex-container.flex-active {
    z-index: 2;
}

.text-sub {
    font-size: 12px;
	letter-spacing: 0.5rem;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.text-big {
    font-family: 'Poppins', sans-serif;
    font-size: 7.5em;
    font-weight: 700;
    line-height: 110px;
    margin-left: -8px;
}

.text-normal {
    font-size: 13px;
    color: white;
    line-height: 22px;
    margin-top: 25px;
}

.text-background {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    left: 72px;
    bottom: -60px;
    color: rgba(0,0,0,0.05);
    font-size: 170px;
    font-weight: 700;
}

.flex-item {
    height: 60vh;
    color: #fff;
    transition: transform 0.1s linear;
}

.flex-item-left{
    display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;

    align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;

    width: 70%;
	transform-origin: left bottom;
	transition: transform 0.1s linear 0.4s;
	opacity: 0;
	position: relative;
	overflow: hidden;
}

.flex-item-right {
	width: 30%;
	transform-origin: right center;
	transition: transform 0.1s linear 0s;
	opacity: 0;
}

.flex-preStart .flex-item-left,
.flex-preStart .flex-item-right,
.flex-active .flex-item-left,
.flex-active .flex-item-right {
	opacity: 1;
}

/* blue */
.flex-blue .flex-item-left {
	background: #3e9fe6;
}
.flex-blue .flex-item-right {
	background: #d3eaef;
}

/* yellow */
.flex-yellow .flex-item-left {
	background: #f8d41f;
}
.flex-yellow .flex-item-right {
	background: #f4ecc5;
}

/* red */
.flex--red .flex-item-left {
	background: #f64f37;
}
.flex--red .flex-item-right {
	background: #ffebcd;
}

/* dark blue */
.flex--darkblue .flex-item-left {
	background: #476089;
}
.flex--darkblue .flex-item-right {
	background: #ade8f7;
}

/* gray */
.flex--gray .flex-item-left {
	background: #424242;
}
.flex--gray .flex-item-right {
	background: #a7bcbb;
}

.flex-content {
	margin-left: 80px;
	width: 55%;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
}

.pokemon-img {
	position: absolute;
	bottom: 20px;
	right: 5%;
	max-height: 28vw;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
}


/* Animate-START point */

.flex-container.animate-start .flex-content {
	transform: translate3d(0,-200%,0);
	opacity: 0;
}

.flex-container.animate-start .pokemon-img {
	transform: translate3d(-200px,0,0);
	opacity: 0;
}

/* Animate-END point */

.flex-container.animate-end .flex-item-left {
	transform: scaleY(0);
}

.flex-container.animate-end .flex-item-right {
	transform: scaleX(0);
}

.flex-container.animate-end .flex-content {
	transform: translate3d(0,200%,0);
	opacity: 0;
}

.flex-container.animate-end .pokemon-img {
	transform: translate3d(200px,0,0);
	opacity: 0;
}

/*============================================================
======================= BANNER 1 SECTION =====================
=============================================================*/

/*============================================================
======================= BANNER 2 SECTION =====================
=============================================================*/
.main-banner {
    height: 370px;
    overflow: hidden;
    position: relative;
}

.banner-img {
    height: 370px;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}

.banner-info {
    position: absolute;
    background-color: rgba(0, 0, 0, .3);
    color: var(--text-color-white);
    
    /* top: 10px; */
    bottom: 10px;
    right: 10px;
    /* left: 10px; */
    width: auto;
    font-size: 32px;
    padding: 1rem 3rem;
    text-align: end;
}

.banner-title {
    position: relative;
}

.banner-title::before{
    position: absolute;
    content: "";
    width: 9px;
    height: 60px;
    border-radius: 4px;
    background-color: red;
    transform: translateX(-20px) translateY(18px);
}
/*============================================================
====================== BANNER 2 SECTION END ==================
=============================================================*/


/*============================================================
======================== FEACTURE SECTION ====================
=============================================================*/
.features-list {
    width: 100%;
    margin: 2rem 0;
}
.list-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    list-style: none;
    padding: 4rem;

    & li {
        display: flex;
        gap: 1rem;
        flex: 1 1 0%;
        align-items: center;


        & i {
            color: var(--text-color);
            font-size: 50px;
        }
    }

    .list-content {
        & h4 {
            font-size: 24px;
            font-weight: 300;
        }

        & p {
            font-size: medium;
        }
    }
}
/*============================================================
====================== FEACTURE SECTION END ==================
=============================================================*/


/*============================================================
====================== SLIDER BRANDS SECTION =================
=============================================================*/
.slider-brands-container {
    display: flex;
    height: auto;
    margin: auto;
    overflow: hidden;
    align-items: center;
}

.slider-brands-container::before {
    position: absolute;
    z-index: 1;
    left: 0;
    content: "";
    width: 10%;
    height: 150px;
    background: var(--body-bg-color);
}

.slider-brands-container::after {
    position: absolute;
    right: 0;
    content: "";
    width: 10%;
    height: 150px;
    background: var(--body-bg-color);
}

.slider-brands-container .slide-track {
    display: flex;
    animation: scroll 35s linear infinite;
    -webkit-animation: scroll 35s linear infinite;
    width: calc(250px * 14);
}

.slider-brands-container .slide-brand {
    display: flex;
}

.slider-brands-container .slide-brand {
    width: 210px;
    height: 120px;
    padding: 10px;
    background-color: white;
    pointer-events: none;
    margin: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.slider-brands-container .slide-brand img {
    margin: 0 auto;
    filter: grayscale(100%) opacity(35%);
}


@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-270px * 7));
        transform: translateX(calc(-270px * 7));
    }
}
/*============================================================
================== SLIDER BRANDS SECTION END =================
=============================================================*/


/*============================================================
======================= FEATURES SECTION =====================
=============================================================*/
.features-section {
    display: flex;
    flex-direction: column;
    margin: 0 0;
    background-color: var(--features-bg-color-1);
    color: #1a4651;

    .feature:nth-child(even) {
        background-color: var(--features-bg-color-2);
    }
}

.features-section .feature {
    padding: 3rem 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;

    .fa-solid {
        font-size: 3rem;
        margin-bottom: .5rem;
    }
}
/*============================================================
===================== FEATURES SECTION END ===================
=============================================================*/


/*============================================================
========================= RESPONSIVE =========================
=============================================================*/
@media screen and (width > 1200px) {

    /*================== BANNER SECTION ====================*/

    .main-banner {
        height: 670px;
    }
    
    .banner-img {
        height: 670px;
    }

    /*================== FEACTURE SECTION ==================*/
    .list-view {
        flex-direction: row;
    }
    /*================ FEACTURE SECTION END ================*/


    /*================= BANNER SECTION END =================*/


    /*====================== FEATURES ======================*/

    .features-section {
        flex-direction: row;
    }
    
    .features-section .feature {
        flex: 1 1 0%;
        padding: 4rem 1rem;
    }

    /*==================== FEATURES END ====================*/

}
/*============================================================
======================== RESPONSIVE END ======================
=============================================================*/